.featureSection {
    color: black;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.reverse {
    flex-direction: row-reverse;
}

.featureText {
    margin: 0 2rem;
    color: black;
}

.featureText h2 {
    font-size: 33px;
    font-weight: 600;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
}

.featureText p {
    display: flex;
    font-size: 18px;
    font-weight: 400;
}

.featureImage {
    display: flex;
    margin: 0;
}

.firstWord {
    color: #1090CB;
}

.wideText {
    display: flex;
    width: 1000px;
    margin-right: 2rem;
    padding-right: 0;
}

.smallImage {
    position: relative;
    left: -50px;
    width: 250px;
    margin-left: 1rem;
}